*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100%;
    height: 800px;
    background-color: #AEC9FEB2;
    padding: 48px 36px;
}
#div1{
    background-color: white;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 5px;
}